* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d3d3d3;
    font-family: Verdana, sans-serif;
    color: #333;
}

.bg {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.menu {
    background-color: #1d5b35;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

p2{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.menu-botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    border: 1px solid #FFFF;
    background-color: transparent;
    height: 40px;
    width: 160px;
    color: #FFFF;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}

.informacoes h2 {
    font-size: 42px;
    text-align: center;
    padding: 20px 0;
}

/* Slideshow */
.slideshow-container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.slideshow-container img {
    width: 100%;
    opacity: 0.9;
}



/* textos */
  .texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: line;
    justify-content: center;
    align-items: center;
    gap: 7%;
    height: 50%;
    text-align: left;

  }
h1{
   border-radius: 10px;
  border-bottom: 6px solid #1d5b35;
 margin-bottom: 10%;
}




.texto1{

  width: 20%;
    position: relative;
    opacity: 0.9;
}



/* textos */
  .texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: line;
    justify-content: center;
    align-items: center;
    gap: 7%;
    height: 50%;
    text-align: left;

  }
h1{
   border-radius: 10px;
  border-bottom: 6px solid 
#1d5b35;
 margin-bottom: 10%;
}




.texto1{

  width: 20%;
}
.texto2{


  width: 20%;
}
.texto3{

  width: 20%;
}
 /* dot */
.container {
    text-align: center;
    padding: 20px;
     margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
     margin: auto;
    background-color: 
#bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.active {
    background-color: 
#717171;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
/* menu */
.menu {
    background-color: 
#1d5b35;
    overflow: hidden;
}

.menu .menu-botoes {
    display: flex;
    justify-content: center;
    padding: 14px 16px;
}

.menu .menu-botoes a {
    text-decoration: none;

}
.texto2{


  width: 20%;
}
.texto3{

  width: 20%;
}
 /* dot */
.container {
    text-align: center;
    padding: 20px;
     margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
     margin: auto;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.active {
    background-color: #717171;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
/* menu */
.menu {
    background-color: #1d5b35;
    overflow: hidden;
}

.menu .menu-botoes {
    display: flex;
    justify-content: center;
    padding: 14px 16px;
}

.menu .menu-botoes a {
    text-decoration: none;
}

.menu .menu-botoes .button {
    border: 1px solid #FFFF;
    background-color: transparent;
    height: 40px;
    width: 160px;
    color: #FFFF;
    font-size: 20px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s ease-in-out;
}

.menu .menu-botoes .button:hover {
    background-color: #1d5b35;
}

.menu .titulo {
    text-align: center;
    color: white;
    padding: 20px 0;
}

.informacoes {
    padding: 20px;
    text-align: center;
}


button:hover {
    background-color: #45a049;
}

img {
    vertical-align: middle;
    width: 100%;
}

/* Texto */
.text {
    color: #fff;
    font-size: 40px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Pontos */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Animação Fading */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Para Telas Menores */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px;
    }
}


/* rodape */

.rodape {
    padding: 10px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: transparent;
    color: #000;
    text-align: center;
}
